USE [Universityportal]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddNewStudent]    Script Date: 8/10/2026 5:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_AddNewStudent]

	@StudentName VARCHAR(100),
    @Email VARCHAR(255),
    @Password VARCHAR(255),
    @DepartmentId INT,
    @AcademicYear INT,
    @StatusId INT,
    @ProcessingStatus tinyint output,
    @ProcessingMessage nvarchar(100) output
AS
BEGIN

--======= validation critria 


--============================
INSERT INTO [Students] ([Name],[Email],[Password],[Department_Id],[Year],[Status_Id])
VALUES (@StudentName, @Email, @Password, @DepartmentId, @AcademicYear, @StatusId);

SELECT 
        [Id] AS [NewStudentId], 
        [Name] 
    FROM [Students] 
    WHERE [Email] = @Email;
END;
